.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #00000049;
  padding: 20px 30px;
  border-radius: 12px;


  &__label {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: start;
    text-rendering: geometricPrecision;
  }

  .input {
    align-self: flex-end;
    padding: 10px 20px 10px 10px;
    border-radius: 12px;
    border: 2px solid #0000009d
  }

  input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    transition: all 300ms ease-in-out;
  }

  input[type="submit"]:hover {
    background-color: #2e8d33;
    color: #ffffff;
  }

}